html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #3A3A3A;
}

body {
    display: flex;
    flex-direction: row;
}

#init {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    width: 50%;
    height: 50%;
}

#init input {
    margin: 0 auto;
    text-align: center;
    width: 75%;
}